{% extends 'todoapp/base.html' %}

{% block body %}

        <div class="container">
            <h2>Task</h2>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Task Priority</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='active'>
                        <td>
                            <a>{{ task.task_name }}</a>
                        </td>
                        <td>
                            <a>{{ task.task_priority }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% endblock %}