{% extends 'todoapp/base.html' %}

<html>
    <head>
    </head>
    <body>

        {% block body %}

        {% if task_list %}
        <ul>
            {% for task in task_list %}
                <li>
                    <a href="{% url 'todoapp:detail' task.id %}">{{ task.task_name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        {% endif %}

        <div class="container">
            <h2>Today's List</h2>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Task Priority</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if task_list %}
                        {% for task in task_list %}
                        <tr class='active'>
                            <td>
                                <a href="{% url 'todoapp:detail' task.id %}">{{ task.task_name }}</a>
                            </td>
                            <td>
                                <b>{{task.task_priority}}</b>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    {% endif %}

                </tbody>
            </table>
        </div>

        {% endblock %}
    </body>
</html>