{% load staticfiles %}
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'todoapp/style.css' %}"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">My Todo App</a>
                </div>
            </div>
        </nav>
        {% if task_list %}
        <ul>
            {% for task in task_list %}
                <li>
                    <a href="{% url 'todoapp:detail' task.id %}">{{ task.task_name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        {% endif %}
    </body>
</html>